div.cover-photo-holder img{
    width: 300px;
    height: 300px;
    margin: 5px;
}

div.newrecipe{
    max-width: 500px;
}

div.input-group{
    margin: 10px 0;
}

div.ingredient input.form-control{
    width: 40%;
    display: inline;
}