.topnav{
    background-color: #983C29;
}

.topnav a{
    float: left;
    display: block;
    color: blue;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover{
    background-color: white;
    color: blue;
}

.topnav a:active{
    background-color: red;
    color: white;
}